<!--<div class="form-group row">
    <section>
    <div style="float:left;margin-right:5px;margin-left:5px col-form-label col-md-10">
        <label for="name">Nome</label>
        <input class="form-control" type="text" value="" name="Nome" [(ngModel)]="nome_cliente"
        placeholder="Coloque o Nome do Cliente">
      </div>

      <section>
        <div>
          <label for="name">Name</label>
          <input id="name" type="text" value="" name="name">
        </div>
        <div>
          <label for="email">Email</label>
          <input id="email" type="text" value="" name="email">
        </div>
        </section>
        <section>
        <div>
          <label for="subject">Subject</label>
          <input id="subject" type="text" value="" name="subject">
        </div>
        <div class="full">
          <label for="message">Message</label>
          <input id="message" type="text" value="" name="message">
        </div>
        </section>
</div>


   <label class="row-md-3 col-lg-3 col-form-label">Nome</label>
    <div class="col-md-10 col-lg-10">
        <input type="text" class="form-control" [(ngModel)]="nome_cliente"
        placeholder="Coloque o Nome do Cliente">
    </div>
    
<div style="float:left;margin-right:5px; col-form-label">   
    <div class="col-md-15">
        <label for="Sexo">Sexo</label>
        <select class="form-control" [(ngModel)]="sexo_cliente"
        placeholder="Coloque o Sexo do Cliente">
        <option>Feminino</option>
        <option>Masculino</option>
        </select>
    </div></div>  <label class="row-md-4 ">Data de Nascimento</label>
    <div class="col-md-9">
        <input type="date" class="form-control" [(ngModel)]="datanasc_cliente"
        placeholder="Coloque o Nome do Cliente">
    </div>

<div style="float:left;margin-right:5px;col-form-label;">
    <label for="Sexo">Sexo</label>
    <select class="form-control" [(ngModel)]="sexo_cliente"
    placeholder="Coloque o Sexo do Cliente">
    <option>Feminino</option>
        <option>Masculino</option>
        </select>
  </div>

  <div style="float:left;col-form-label">
    <label for="email">Data de Nascimento</label>
    <input  class="form-control" type="date"  [(ngModel)]="datanasc_cliente"placeholder="Coloque o Nome do Cliente">
  </div>

  
</section>
    <label class="col-md-5 col-form-label">CEP</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="cep_cliente"
        placeholder="Coloque o CEP do Cliente">
    </div>
    <label class="col-md-6 col-form-label">Endereço</label>
    <div class="col-md-5">
        <input type="text" class="form-control" [(ngModel)]="endereco_cliente"
        placeholder="Coloque o Endereço do Cliente">
    </div>
    <label class="col-md-7 col-form-label">Numero</label>
    <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="numero_cliente"
        placeholder="Coloque o Numero do Cliente">
    </div>
    <label class="col-smdm-8 col-form-label">Bairro</label>
    <div class="col-md-9">
        <input type="text" class="form-control" [(ngModel)]="bairro_cliente"
        placeholder="Coloque o Bairro do Cliente">
    </div>
    <label class="col-md-9 col-form-label">Cidade</label>
    <div class="col-md-9">
        <input type="text" class="form-control" [(ngModel)]="cidade_cliente"
        placeholder="Coloque o Cidade do Cliente">
    </div>
    <label class="col-md-10 col-ld col-form-label">Estado</label>
    <div class="col-md-9">
        <select class="form-control" [(ngModel)]="estado_cliente"
        placeholder="Coloque o Estado">
        <option>AC</option>
        <option>AL</option>
        <option>AP</option>
        <option>AM</option>
        <option>BA</option>
        <option>CE</option>
        <option>ES</option>
        <option>GO</option>
        <option>MA</option>
        <option>MT</option>
        <option>MS</option>
        <option>MG</option>
        <option>PA</option>
        <option>PB</option>
        <option>PR</option>
        <option>PE</option>
        <option>PI</option>
        <option>RJ</option>
        <option>RN</option>
        <option>RS</option>
        <option>RO</option>
        <option>RR</option>
        <option>SC</option>
        <option>SP</option>
        <option>SE</option>
        <option>TO</option>
        <option>DF</option>

        </select>
    </div>
</div>

-->



<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">
    
        <div class="col-sm-10">            
            <label class="col-sm-2 col-form-label">Nome</label>
            <input type="text" class="form-control" [(ngModel)]="nome_cliente"
            placeholder="Coloque o Nome do Cliente">
        </div>
      
     
        <div class="col-sm-10"style="float:left;margin-top:5px">
            <label class="col-sm-2 col-form-label">Data de Nascimento</label>
            <input type="date" class="form-control" [(ngModel)]="datanasc_cliente">
        </div>
       
       
        <div class="col-sm-10"style="float:left;margin-top:5px">
            <label class="col-sm-2 col-form-label">Sexo</label>
            <select class="form-control" [(ngModel)]="sexo_cliente"
            placeholder="Coloque o Sexo do Cliente">
            <option>Feminino</option>
            <option>Masculino</option>
        </select>
        </div>
     
        <div class="input-group sm-10"style="float:left;margin-top:5px">    
            <div class="form-group col-md-4">     
            <label class="col-sm-2  control-label">CEP</label>
            <input type="text" class="form-control" [(ngModel)]="cep_cliente">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="getCEPCliente(cep_cliente)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></button>
            </div>
            </div>
          
        </div>
       
        <div class="col-sm-10"style="float:left;margin-top:5px">
            <label class="col-sm-2 col-form-label">Endereço</label>
            <input type="text" class="form-control" [(ngModel)]="endereco_cliente">
        </div>  
         <div class="col-sm-10"style="float:left;margin-top:5px">
            <label class="col-sm-2 col-form-label">Numero</label>
            <input type="text" class="form-control" [(ngModel)]="numero_cliente">
        </div>
        
    
        <div class="col-sm-10"style="float:left;margin-top:5px">
            <label class="col-sm-2 col-form-label">Bairro</label>
            <input type="text" class="form-control" [(ngModel)]="bairro_cliente">
        </div>
        <div class="col-sm-10"style="float:left;margin-top:5px">
            <label class="col-sm-2 col-form-label">Cidade</label>
            <input type="text" class="form-control" [(ngModel)]="cidade_cliente">
        </div>
  
        <div class="col-sm-10"style="float:left;margin-top:5px">
            <label class="col-sm-2 col-form-label">Estado</label>
            <select class="form-control" [(ngModel)]="estado_cliente"
            placeholder="Coloque o Estado">
            <option>AC</option>
            <option>AL</option>
            <option>AP</option>
            <option>AM</option>
            <option>BA</option>
            <option>CE</option>
            <option>ES</option>
            <option>GO</option>
            <option>MA</option>
            <option>MT</option>
            <option>MS</option>
            <option>MG</option>
            <option>PA</option>
            <option>PB</option>
            <option>PR</option>
            <option>PE</option>
            <option>PI</option>
            <option>RJ</option>
            <option>RN</option>
            <option>RS</option>
            <option>RO</option>
            <option>RR</option>
            <option>SC</option>
            <option>SP</option>
            <option>SE</option>
            <option>TO</option>
            <option>DF</option>    
            </select>
        </div>
   

    </div>        
    
</div><button (click)="addCliente()" *ngIf="cli.id_cliente==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateCliente()" *ngIf="cli.id_cliente!=0" class="btn btn-primary">
    Update
</button>   